@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #030712;
  color: white;
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;
}